<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <description>apache shiro配置</description>
	<!-- web.xml中shiro的filter对应的bean Shiro的web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!-- loginUrl认证提交地址，如果没有认证将会请求此地址进行认证,请求此地址将由formAuthenticationFilter进行表单认证 -->
        <property name="loginUrl" value="/rest/page/login"/>
        <!-- 认证成功统一跳转到/rest/index，建议不配置，默认情况下，shiro认证成功后自动跳转上一个请求路径 -->
        <property name="successUrl" value="/rest/index"/>
        <!-- 通过unauthorizedUrl 指定没有权限操作时的跳转页面 -->
        <property name="unauthorizedUrl" value="/rest/page/401"/>
        <!-- 过滤器链定义，从上向下执行，一般将/**放在最下边 -->
        <property name="filterChainDefinitions">
            <value>
            	<!-- 退出拦截，请求logout.action执行退出操作 shiro自动清除Session-->  
                <!-- /rest/user/logout = logout -->
                <!-- 无权访问页面 anon表示可以匿名访问 -->
                <!-- 静态资源允许访问 -->
                /app/** = anon
                /assets/** = anon
                <!-- 验证码请求允许访问 -->
                /rest/getGifCode = anon
                <!-- 登录页,注册页允许访问 -->
                /rest/user/login = anon
                /rest/user/retpassword = anon
                /rest/user/retunpassword = anon
                /rest/user/verIsQqual = anon
                /rest/user/selfChangPassword = anon
                <!-- perms[xx] 表示有xx权限才可以访问 -->  
                <!-- /rest/user/userList = perms[user:query:*] -->
                <!-- 其他资源需要认证 -->
                /** = authc
            </value>
        </property>
    </bean>

	<!-- 用户信息记住我功能的相关配置 -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <constructor-arg value="rememberMe"/>
	    <property name="httpOnly" value="true"/>
	    <!-- 配置存储rememberMe Cookie的domain为 一级域名,这里如果配置需要和Session回话一致更好。-->
	    <property name="domain" value="zemin"/>

	    <property name="maxAge" value="180"/><!-- 3分钟时间，记住我3分钟 -->
	</bean>

	<!-- rememberMe管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
	    <!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位）-->
	    <property name="cipherKey"
	              value="#{T(org.apache.shiro.codec.Base64).decode('3AvVhmFLUs0KTA3Kprsdag==')}"/>
	    <property name="cookie" ref="rememberMeCookie"/>
	</bean>

    <!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>

    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>

	<!-- session cookie -->
	<bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <constructor-arg name="name" value="shiro.sesssion"/>
	    <property name="path" value="/"/>
	 </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookie" ref="simpleCookie"/>
        <property name="sessionListeners">
        	<list>
        		<ref bean="shiroSessionListener"/>
        	</list>
        </property>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="securityRealm"/>
            </list>
        </property>
        <!-- cacheManager,集合spring缓存工厂 -->
        <property name="cacheManager" ref="shiroEhcacheManager" />
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- Shiro生命周期处理器 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>