<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.detection.web.dao.DetectionPointMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.detection.web.model.DetectionPoint">
    <id column="detection_point_id" jdbcType="INTEGER" property="detectionPointId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
    <result column="detection_latitude" jdbcType="VARCHAR" property="detectionLatitude" />
    <result column="detection_longitude" jdbcType="VARCHAR" property="detectionLongitude" />
    <result column="detection_name" jdbcType="VARCHAR" property="detectionName" />
    <result column="detection_description" jdbcType="VARCHAR" property="detectionDescription" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
  </resultMap>
  <resultMap id="DetectionPointMap" type="com.zhongda.detection.web.model.DetectionPoint">
    <id column="detection_point_id" jdbcType="INTEGER" property="detectionPointId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
    <result column="detection_latitude" jdbcType="VARCHAR" property="detectionLatitude" />
    <result column="detection_longitude" jdbcType="VARCHAR" property="detectionLongitude" />
    <result column="detection_name" jdbcType="VARCHAR" property="detectionName" />
    <result column="detection_description" jdbcType="VARCHAR" property="detectionDescription" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
    <collection property="laserDataList" javaType="java.util.List" ofType="com.zhongda.detection.web.model.LaserData">
    	<id column="id" jdbcType="INTEGER" property="id" />
	    <result column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
	    <result column="first_time" jdbcType="TIMESTAMP" property="firstTime" />
	    <result column="first_data" jdbcType="DOUBLE" property="firstData" />
	    <result column="previous_time" jdbcType="TIMESTAMP" property="previousTime" />
	    <result column="previous_data" jdbcType="DOUBLE" property="previousData" />
	    <result column="current_times" jdbcType="TIMESTAMP" property="currentTimes" />
	    <result column="current_data" jdbcType="DOUBLE" property="currentData" />
	    <result column="current_laser_change" jdbcType="DOUBLE" property="currentLaserChange" />
	    <result column="total_laser_change" jdbcType="DOUBLE" property="totalLaserChange" />
	    <result column="speed_change" jdbcType="DOUBLE" property="speedChange" />
	    <result column="sensor_status" jdbcType="INTEGER" property="sensorStatus" />
	    <result column="create_type" jdbcType="VARCHAR" property="createType" />
	    <result column="smu_cms_id" jdbcType="VARCHAR" property="smuCmsId" />
	    <result column="smu_cms_channel" jdbcType="VARCHAR" property="smuCmsChannel" />
	    <result column="smu_status" jdbcType="INTEGER" property="smuStatus" />
    </collection>
  </resultMap>
  <resultMap id="KDataMap" type="com.zhongda.detection.web.model.DetectionPoint">
  	<id column="detection_point_id" jdbcType="INTEGER" property="detectionPointId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
    <result column="detection_latitude" jdbcType="VARCHAR" property="detectionLatitude" />
    <result column="detection_longitude" jdbcType="VARCHAR" property="detectionLongitude" />
    <result column="detection_name" jdbcType="VARCHAR" property="detectionName" />
    <result column="detection_description" jdbcType="VARCHAR" property="detectionDescription" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
    <collection property="kGraphLaserDataList" javaType="java.util.List" ofType="com.zhongda.detection.web.model.KLineGraphLaserData">
    	<result column="detection_ids" jdbcType="INTEGER" property="detectionids" />
    	<result column="max_current_data" jdbcType="DOUBLE" property="maxCurrentdata" />
    	<result column="max_total_laser_change" jdbcType="DOUBLE" property="maxTotalLaserChange" />
    	<result column="max_current_laser_change" jdbcType="DOUBLE" property="maxCurrentLaserChange" />
    	<result column="max_speed_change" jdbcType="DOUBLE" property="maxSpeedChange" />
    	<result column="min_current_data" jdbcType="DOUBLE" property="minCurrentData" />
    	<result column="min_total_laser_change" jdbcType="DOUBLE" property="minTotalLaserChangen" />
    	<result column="min_current_laser_change" jdbcType="DOUBLE" property="minCurrentLaserChange" />
    	<result column="min_speed_change" jdbcType="DOUBLE" property="minSpeedChange" />
    	<result column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
    	<result column="current_times" jdbcType="TIMESTAMP" property="currentTimes" />
    	<result column="begin_current_datas" jdbcType="DOUBLE" property="beginCurrentDatas" />
    	<result column="begin_current_laser_changes" jdbcType="DOUBLE" property="beginCurrentLaserChange" />
    	<result column="begin_total_laser_changes" jdbcType="DOUBLE" property="beginTotalLaerChanges" />
    	<result column="begin_speed_changes" jdbcType="DOUBLE" property="beginSpeedChanges" />
    	<result column="end_current_data" jdbcType="DOUBLE" property="endCurrentData" />
    	<result column="end_current_laser_change" jdbcType="DOUBLE" property="endCurentLaerChangens" />
    	<result column="end_total_laser_change" jdbcType="DOUBLE" property="endTotalLaserChangens" />
    	<result column="end_speed_change" jdbcType="DOUBLE" property="endSpeedChange" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    detection_point_id, project_id, detection_type_id, detection_latitude, detection_longitude, 
    detection_name, detection_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from detection_point
    where detection_point_id = #{detectionPointId,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    dp.*, sd.item_name 'item_name'
    from detection_point dp, sys_dictionary sd
    where project_id = #{projectId,jdbcType=INTEGER} 
    and detection_type_id = dic_id
  </select>
  <select id="selectByProjectNameAndKeyWord" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from detection_point 
    where project_id = (select project_id from project where project_name = '${_parameter.param1}') 
    and detection_name like '%${_parameter.param2}%'
  </select>
  
   <select id="selectDetectionPointWithAlarmCount" parameterType="com.zhongda.detection.web.model.Project" resultMap="BaseResultMap"> 
     select
     dp.*, sd.item_name 'item_name'
     from detection_point dp, sys_dictionary sd
     where dp.project_id = (select project_id 
     from project where project_name = '${_parameter.projectName}')
     and dp.detection_type_id = sd.dic_id
     order by dp.detection_point_id desc
  </select>
  
  <select id="selectByProjectIDAndDetectionName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from detection_point
    where project_id = #{0}
    and detection_name = #{1}
  </select>
  <select id="selectItemNameByProjectgId" resultMap="BaseResultMap">
  	SELECT
	sd.item_name 'item_name',
	sd.item_value 'item_value',
	dp.project_id,
	dp.detection_type_id
	FROM
	detection_point dp,
	sys_dictionary sd
	WHERE
	dp.detection_type_id = sd.dic_id
	AND dp.project_id = #{projectId,jdbcType=INTEGER}
	GROUP BY
	detection_type_id
  </select>
  <select id="selectLaserDataByCurrentTimes" resultMap="DetectionPointMap">
  	SELECT
	dp.*, ld.*
	FROM
	(
		detection_point dp
		RIGHT JOIN sensor_info si ON dp.detection_point_id = si.detection_point_id
	)
	RIGHT JOIN laser_data ld ON ld.sensor_id = si.sensor_id
	WHERE
	dp.project_id = #{projectId,jdbcType=INTEGER}
	AND dp.detection_type_id = #{detectionTypeId,jdbcType=INTEGER} and ld.current_times <!-- &gt;= date_sub(now(), INTERVAL 1 DAY) --> like concat(#{currentTime,jdbcType=VARCHAR},'%')
	GROUP BY  dp.detection_name ASC, ld.current_times 
  </select>
  <select id="selectKlineGraphData" resultMap="KDataMap">
  	SELECT
	dpt.*,
	data_total.*
	FROM
		detection_point dpt,
		(
			SELECT
				max_and_min.*, begin_and_end.*
			FROM
				(
					SELECT
						begin_data.begin_id AS bl_id,
						begin_data.begin_time AS bl_time,
						begin_data.begin_current_data AS begin_current_datas,
						begin_data.begin_current_laser_change AS begin_current_laser_changes,
						begin_data.begin_total_laser_change AS begin_total_laser_changes,
						begin_data.begin_speed_change AS begin_speed_changes,
						last_data.last_current_data AS end_current_data,
						last_data.last_current_laser_change AS end_current_laser_change,
						last_data.last_total_laser_change AS end_total_laser_change,
						last_data.last_speed_change AS end_speed_change
					FROM
						(
							SELECT
								ldd.sensor_id AS begin_id,
								ldd.current_times AS begin_time,
								ldd.current_data AS begin_current_data,
								ldd.current_laser_change AS begin_current_laser_change,
								ldd.total_laser_change AS begin_total_laser_change,
								ldd.speed_change AS begin_speed_change
							FROM
								laser_data ldd,
								(
									SELECT
										min(ld.id) AS begin_data_time
									FROM
										(
											detection_point dp
											LEFT JOIN sensor_info si ON dp.detection_point_id = si.detection_point_id
										)
									LEFT JOIN laser_data ld ON ld.sensor_id = si.sensor_id
									WHERE
										dp.project_id = #{projectId,jdbcType=INTEGER}
									AND dp.detection_type_id = #{detectionTypeId,jdbcType=INTEGER}
									GROUP BY
										DATE_FORMAT(
											ld.current_times,
											'%y-%b-%d'
										),
										ld.sensor_id
								) AS lsdt
							WHERE
								lsdt.begin_data_time = ldd.id
							ORDER BY
								ldd.sensor_id
						) AS begin_data,
						(
							SELECT
								ldd.sensor_id AS last_id,
								ldd.current_times AS last_time,
								ldd.current_data AS last_current_data,
								ldd.current_laser_change AS last_current_laser_change,
								ldd.total_laser_change AS last_total_laser_change,
								ldd.speed_change AS last_speed_change
							FROM
								laser_data ldd,
								(
									SELECT
										max(ld.id) AS last_data_time
									FROM
										(
											detection_point dp
											LEFT JOIN sensor_info si ON dp.detection_point_id = si.detection_point_id
										)
									LEFT JOIN laser_data ld ON ld.sensor_id = si.sensor_id
									WHERE
										dp.project_id = #{projectId,jdbcType=INTEGER}
									AND dp.detection_type_id = #{detectionTypeId,jdbcType=INTEGER}
									GROUP BY
										DATE_FORMAT(
											ld.current_times,
											'%y-%b-%d'
										),
										ld.sensor_id
								) AS lsdt
							WHERE
								lsdt.last_data_time = ldd.id
							ORDER BY
								ldd.sensor_id
						) AS last_data
					WHERE
						begin_data.begin_id = last_data.last_id
					AND DATE_FORMAT(
						begin_data.begin_time,
						'%y-%b-%d'
					) = DATE_FORMAT(
						last_data.last_time,
						'%y-%b-%d'
					)
				) AS begin_and_end,
				(
					SELECT
						dpp.detection_point_id AS detection_ids,
						max(lddd.current_data) AS max_current_data,
						max(lddd.total_laser_change) AS max_total_laser_change,
						max(lddd.current_laser_change) AS max_current_laser_change,
						max(lddd.speed_change) AS max_speed_change,
						min(lddd.current_data) AS min_current_data,
						min(lddd.total_laser_change) AS min_total_laser_change,
						min(lddd.current_laser_change) AS min_current_laser_change,
						min(lddd.speed_change) AS min_speed_change,
						lddd.sensor_id,
						lddd.current_times
					FROM
						(
							detection_point dpp
							LEFT JOIN sensor_info sii ON sii.detection_point_id = dpp.detection_point_id
						)
					LEFT JOIN laser_data lddd ON lddd.sensor_id = sii.sensor_id
					WHERE
						dpp.project_id = #{projectId,jdbcType=INTEGER}
					AND dpp.detection_type_id = #{detectionTypeId,jdbcType=INTEGER}
					GROUP BY
						DATE_FORMAT(
							lddd.current_times,
							'%y-%b-%d'
						),
						lddd.sensor_id
				) AS max_and_min
			WHERE
				max_and_min.sensor_id = begin_and_end.bl_id
			AND DATE_FORMAT(
				max_and_min.current_times,
				'%y-%b-%d'
			) = DATE_FORMAT(
				begin_and_end.bl_time,
				'%y-%b-%d'
			)
		) AS data_total
	WHERE
	data_total.detection_ids = dpt.detection_point_id ORDER BY data_total.current_times 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from detection_point
    where detection_point_id = #{detectionPointId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByProjectId" parameterType="java.lang.Integer">
    delete from detection_point
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.detection.web.model.DetectionPoint">
    insert into detection_point (detection_point_id, project_id, detection_type_id, 
      detection_latitude, detection_longitude, 
      detection_name, detection_description)
    values (#{detectionPointId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{detectionTypeId,jdbcType=INTEGER}, 
      #{detectionLatitude,jdbcType=VARCHAR}, #{detectionLongitude,jdbcType=VARCHAR}, 
      #{detectionName,jdbcType=VARCHAR}, #{detectionDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.detection.web.model.DetectionPoint">
    insert into detection_point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detectionPointId != null">
        detection_point_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="detectionTypeId != null">
        detection_type_id,
      </if>
      <if test="detectionLatitude != null">
        detection_latitude,
      </if>
      <if test="detectionLongitude != null">
        detection_longitude,
      </if>
      <if test="detectionName != null">
        detection_name,
      </if>
      <if test="detectionDescription != null">
        detection_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detectionPointId != null">
        #{detectionPointId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionLatitude != null">
        #{detectionLatitude,jdbcType=VARCHAR},
      </if>
      <if test="detectionLongitude != null">
        #{detectionLongitude,jdbcType=VARCHAR},
      </if>
      <if test="detectionName != null">
        #{detectionName,jdbcType=VARCHAR},
      </if>
      <if test="detectionDescription != null">
        #{detectionDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.detection.web.model.DetectionPoint">
    update detection_point
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionLatitude != null">
        detection_latitude = #{detectionLatitude,jdbcType=VARCHAR},
      </if>
      <if test="detectionLongitude != null">
        detection_longitude = #{detectionLongitude,jdbcType=VARCHAR},
      </if>
      <if test="detectionName != null">
        detection_name = #{detectionName,jdbcType=VARCHAR},
      </if>
      <if test="detectionDescription != null">
        detection_description = #{detectionDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where detection_point_id = #{detectionPointId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.detection.web.model.DetectionPoint">
    update detection_point
    set project_id = #{projectId,jdbcType=INTEGER},
      detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      detection_latitude = #{detectionLatitude,jdbcType=VARCHAR},
      detection_longitude = #{detectionLongitude,jdbcType=VARCHAR},
      detection_name = #{detectionName,jdbcType=VARCHAR},
      detection_description = #{detectionDescription,jdbcType=VARCHAR}
    where detection_point_id = #{detectionPointId,jdbcType=INTEGER}
  </update>
</mapper>