<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.detection.web.dao.FarmlandPHMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.detection.web.model.FarmlandPH">
    <id column="ph_id" jdbcType="INTEGER" property="phId" />
    <result column="detection_id" jdbcType="INTEGER" property="detectionId" />
    <result column="sensor_id" jdbcType="INTEGER" property="sensorId" />
    <result column="detection_data" jdbcType="REAL" property="detectionData" />
    <result column="detection_time" jdbcType="TIMESTAMP" property="detectionTime" />
    <result column="sensor_status" jdbcType="VARCHAR" property="sensorStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    ph_id, detection_id, sensor_id, detection_data, detection_time, sensor_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from farmland_ph
    where ph_id = #{phId,jdbcType=INTEGER}
  </select>
  <select id="selectFarmlandPHByProjectIdAndToday" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    fp.*
    from farmland_ph fp, sensor_info si
    where fp.sensor_id = si.sensor_id and si.project_id = #{projectId,jdbcType=INTEGER}
    and fp.detection_time &gt;= date_sub(now(), INTERVAL 24 HOUR) and fp.detection_time &lt; now()
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from farmland_ph
    where ph_id = #{phId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.detection.web.model.FarmlandPH">
    insert into farmland_ph (ph_id, detection_id, sensor_id,
      detection_data, detection_time, sensor_status
      )
    values (#{phId,jdbcType=INTEGER}, #{detectionId,jdbcType=INTEGER}, #{sensorId,jdbcType=INTEGER},
      #{detectionData,jdbcType=REAL}, #{detectionTime,jdbcType=TIMESTAMP}, #{sensorStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.detection.web.model.FarmlandPH">
    insert into farmland_ph
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phId != null">
        ph_id,
      </if>
      <if test="detectionId != null">
        detection_id,
      </if>
      <if test="sensorId != null">
        sensor_id,
      </if>
      <if test="detectionData != null">
        detection_data,
      </if>
      <if test="detectionTime != null">
        detection_time,
      </if>
      <if test="sensorStatus != null">
        sensor_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phId != null">
        #{phId,jdbcType=INTEGER},
      </if>
      <if test="detectionId != null">
        #{detectionId,jdbcType=INTEGER},
      </if>
      <if test="sensorId != null">
        #{sensorId,jdbcType=INTEGER},
      </if>
      <if test="detectionData != null">
        #{detectionData,jdbcType=REAL},
      </if>
      <if test="detectionTime != null">
        #{detectionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sensorStatus != null">
        #{sensorStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.detection.web.model.FarmlandPH">
    update farmland_ph
    <set>
      <if test="detectionId != null">
        detection_id = #{detectionId,jdbcType=INTEGER},
      </if>
      <if test="sensorId != null">
        sensor_id = #{sensorId,jdbcType=INTEGER},
      </if>
      <if test="detectionData != null">
        detection_data = #{detectionData,jdbcType=REAL},
      </if>
      <if test="detectionTime != null">
        detection_time = #{detectionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sensorStatus != null">
        sensor_status = #{sensorStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ph_id = #{phId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.detection.web.model.FarmlandPH">
    update farmland_ph
    set detection_id = #{detectionId,jdbcType=INTEGER},
      sensor_id = #{sensorId,jdbcType=INTEGER},
      detection_data = #{detectionData,jdbcType=REAL},
      detection_time = #{detectionTime,jdbcType=TIMESTAMP},
      sensor_status = #{sensorStatus,jdbcType=VARCHAR}
    where ph_id = #{phId,jdbcType=INTEGER}
  </update>
</mapper>