<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.detection.web.dao.SensorInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.detection.web.model.SensorInfo">
    <id column="sensor_info_id" jdbcType="INTEGER" property="sensorInfoId" />
    <result column="smu_id" jdbcType="VARCHAR" property="smuId" />
    <result column="smu_cms_channel" jdbcType="VARCHAR" property="smuCmsChannel" />
    <result column="detection_point_id" jdbcType="INTEGER" property="detectionPointId" />
    <result column="sensor_id" jdbcType="VARCHAR" property="sensorId" />
    <result column="sensor_type" jdbcType="VARCHAR" property="sensorType" />
    <result column="sensor_model" jdbcType="VARCHAR" property="sensorModel" />
    <result column="sensor_depth" jdbcType="REAL" property="sensorDepth" />
  </resultMap>
  <sql id="Base_Column_List">
    sensor_info_id, smu_id, smu_cms_channel, detection_point_id, sensor_id, sensor_type, 
    sensor_model, sensor_depth
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sensor_info
    where sensor_info_id = #{sensorInfoId,jdbcType=INTEGER}
  </select>
  <select id="selectBySensorIdAndSensorType" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from sensor_info
    where sensor_id = #{0}
  </select>
  <select id="selectByDetectionPointId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sensor_info
    where detection_point_id = #{detectionPointId,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	  select 
	  si.*,dp.detection_name 'detection_name' 
	  from sensor_info si,detection_point dp 
	  where si.detection_point_id in (select detection_point_id 
	  from detection_point where project_id = #{projectId,jdbcType=INTEGER})
	  and si.detection_point_id=dp.detection_point_id
  </select>  
  <select id="selectSensorInfoWithAlarmCount" parameterType="com.zhongda.detection.web.model.Project" resultMap="BaseResultMap"> 
     select 
	 si.*,dp.detection_name 'detection_name' 
     from sensor_info si,detection_point dp 
	 where si.detection_point_id in (select detection_point_id 
	 from detection_point where project_id = (select project_id 
     from project where project_name = '${_parameter.projectName}'))
	 and si.detection_point_id=dp.detection_point_id
     order by si.sensor_info_id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sensor_info
    where sensor_info_id = #{sensorInfoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByProjectId" parameterType="java.lang.Integer">
    delete si.* 
	from detection_point dp ,sensor_info si 
	where dp.detection_point_id=si.detection_point_id 
	and dp.project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByDetectionPointId" parameterType="java.lang.Integer">
    delete from sensor_info
    where detection_point_id = #{detectionPointId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.detection.web.model.SensorInfo">
    insert into sensor_info (sensor_info_id, smu_id, smu_cms_channel, 
      detection_point_id, sensor_id, sensor_type, 
      sensor_model, sensor_depth)
    values (#{sensorInfoId,jdbcType=INTEGER}, #{smuId,jdbcType=VARCHAR}, #{smuCmsChannel,jdbcType=VARCHAR}, 
      #{detectionPointId,jdbcType=INTEGER}, #{sensorId,jdbcType=VARCHAR}, #{sensorType,jdbcType=VARCHAR}, 
      #{sensorModel,jdbcType=VARCHAR}, #{sensorDepth,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.detection.web.model.SensorInfo">
    insert into sensor_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sensorInfoId != null">
        sensor_info_id,
      </if>
      <if test="smuId != null">
        smu_id,
      </if>
      <if test="smuCmsChannel != null">
        smu_cms_channel,
      </if>
      <if test="detectionPointId != null">
        detection_point_id,
      </if>
      <if test="sensorId != null">
        sensor_id,
      </if>
      <if test="sensorType != null">
        sensor_type,
      </if>
      <if test="sensorModel != null">
        sensor_model,
      </if>
      <if test="sensorDepth != null">
        sensor_depth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sensorInfoId != null">
        #{sensorInfoId,jdbcType=INTEGER},
      </if>
      <if test="smuId != null">
        #{smuId,jdbcType=VARCHAR},
      </if>
      <if test="smuCmsChannel != null">
        #{smuCmsChannel,jdbcType=VARCHAR},
      </if>
      <if test="detectionPointId != null">
        #{detectionPointId,jdbcType=INTEGER},
      </if>
      <if test="sensorId != null">
        #{sensorId,jdbcType=VARCHAR},
      </if>
      <if test="sensorType != null">
        #{sensorType,jdbcType=VARCHAR},
      </if>
      <if test="sensorModel != null">
        #{sensorModel,jdbcType=VARCHAR},
      </if>
      <if test="sensorDepth != null">
        #{sensorDepth,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.detection.web.model.SensorInfo">
    update sensor_info
    <set>
      <if test="smuId != null">
        smu_id = #{smuId,jdbcType=VARCHAR},
      </if>
      <if test="smuCmsChannel != null">
        smu_cms_channel = #{smuCmsChannel,jdbcType=VARCHAR},
      </if>
      <if test="detectionPointId != null">
        detection_point_id = #{detectionPointId,jdbcType=INTEGER},
      </if>
      <if test="sensorId != null">
        sensor_id = #{sensorId,jdbcType=VARCHAR},
      </if>
      <if test="sensorType != null">
        sensor_type = #{sensorType,jdbcType=VARCHAR},
      </if>
      <if test="sensorModel != null">
        sensor_model = #{sensorModel,jdbcType=VARCHAR},
      </if>
      <if test="sensorDepth != null">
        sensor_depth = #{sensorDepth,jdbcType=REAL},
      </if>
    </set>
    where sensor_info_id = #{sensorInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.detection.web.model.SensorInfo">
    update sensor_info
    set smu_id = #{smuId,jdbcType=VARCHAR},
      smu_cms_channel = #{smuCmsChannel,jdbcType=VARCHAR},
      detection_point_id = #{detectionPointId,jdbcType=INTEGER},
      sensor_id = #{sensorId,jdbcType=VARCHAR},
      sensor_type = #{sensorType,jdbcType=VARCHAR},
      sensor_model = #{sensorModel,jdbcType=VARCHAR},
      sensor_depth = #{sensorDepth,jdbcType=REAL}
    where sensor_info_id = #{sensorInfoId,jdbcType=INTEGER}
  </update>
</mapper>