<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.detection.web.dao.SensorInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.detection.web.model.SensorInfo">
    <id column="sensor_id" jdbcType="INTEGER" property="sensorId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="detection_id" jdbcType="INTEGER" property="detectionId" />
    <result column="sensor_longitude" jdbcType="VARCHAR" property="sensorLongitude" />
    <result column="sensor_latitude" jdbcType="VARCHAR" property="sensorLatitude" />
    <result column="sensor_num" jdbcType="VARCHAR" property="sensorNum" />
    <result column="sensor_type" jdbcType="VARCHAR" property="sensorType" />
    <result column="sensor_model" jdbcType="VARCHAR" property="sensorModel" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
  </resultMap>
  <resultMap id="LinkDictionayrMap" type="com.zhongda.detection.web.model.SensorInfo">
    <id column="sensor_id" jdbcType="INTEGER" property="sensorId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="detection_id" jdbcType="INTEGER" property="detectionId" />
    <result column="sensor_longitude" jdbcType="VARCHAR" property="sensorLongitude" />
    <result column="sensor_latitude" jdbcType="VARCHAR" property="sensorLatitude" />
    <result column="sensor_num" jdbcType="VARCHAR" property="sensorNum" />
    <result column="sensor_type" jdbcType="VARCHAR" property="sensorType" />
    <result column="sensor_model" jdbcType="VARCHAR" property="sensorModel" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
    <association property="sysDictionary" javaType="SysDictionary">
	    <id column="dic_id" jdbcType="INTEGER" property="dicId" />
	    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
	    <result column="type_value" jdbcType="VARCHAR" property="typeValue" />
	    <result column="type_code" jdbcType="INTEGER" property="typeCode" />
	    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
	    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
   	</association>
  </resultMap>
  <sql id="Base_Column_List">
    sensor_id, project_id, detection_id, sensor_longitude, sensor_latitude, sensor_num,
    sensor_type, sensor_model, detection_type_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sensor_info
    where sensor_id = #{sensorId,jdbcType=INTEGER}
  </select>
  <select id="selectSensorTypeByProjectId" parameterType="java.lang.Integer" resultMap="LinkDictionayrMap">
    select
    si.*, sd.*
    from
    (select
    <include refid="Base_Column_List" />
    from sensor_info
    where project_id = #{projectId,jdbcType=INTEGER}
    group by detection_type_id) si, sys_dictionary sd
    where si.detection_type_id = sd.dic_id
  </select>
  <select id="selectsenInfoAndSysdicByProjectId" parameterType="java.lang.Integer" resultMap="LinkDictionayrMap">
  	select 
  	si.*,sd.* 
  	from sensor_info si,sys_dictionary sd 
  	where si.detection_type_id=sd.dic_id and si.project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sensor_info
    where sensor_id = #{sensorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.detection.web.model.SensorInfo">
    insert into sensor_info (sensor_id, project_id, detection_id,
      sensor_longitude, sensor_latitude, sensor_num,
      sensor_type, sensor_model, detection_type_id
      )
    values (#{sensorId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{detectionId,jdbcType=INTEGER},
      #{sensorLongitude,jdbcType=VARCHAR}, #{sensorLatitude,jdbcType=VARCHAR}, #{sensorNum,jdbcType=VARCHAR},
      #{sensorType,jdbcType=VARCHAR}, #{sensorModel,jdbcType=VARCHAR}, #{detectionTypeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.detection.web.model.SensorInfo">
    insert into sensor_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sensorId != null">
        sensor_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="detectionId != null">
        detection_id,
      </if>
      <if test="sensorLongitude != null">
        sensor_longitude,
      </if>
      <if test="sensorLatitude != null">
        sensor_latitude,
      </if>
      <if test="sensorNum != null">
        sensor_num,
      </if>
      <if test="sensorType != null">
        sensor_type,
      </if>
      <if test="sensorModel != null">
        sensor_model,
      </if>
      <if test="detectionTypeId != null">
        detection_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sensorId != null">
        #{sensorId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="detectionId != null">
        #{detectionId,jdbcType=INTEGER},
      </if>
      <if test="sensorLongitude != null">
        #{sensorLongitude,jdbcType=VARCHAR},
      </if>
      <if test="sensorLatitude != null">
        #{sensorLatitude,jdbcType=VARCHAR},
      </if>
      <if test="sensorNum != null">
        #{sensorNum,jdbcType=VARCHAR},
      </if>
      <if test="sensorType != null">
        #{sensorType,jdbcType=VARCHAR},
      </if>
      <if test="sensorModel != null">
        #{sensorModel,jdbcType=VARCHAR},
      </if>
      <if test="detectionTypeId != null">
        #{detectionTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.detection.web.model.SensorInfo">
    update sensor_info
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="detectionId != null">
        detection_id = #{detectionId,jdbcType=INTEGER},
      </if>
      <if test="sensorLongitude != null">
        sensor_longitude = #{sensorLongitude,jdbcType=VARCHAR},
      </if>
      <if test="sensorLatitude != null">
        sensor_latitude = #{sensorLatitude,jdbcType=VARCHAR},
      </if>
      <if test="sensorNum != null">
        sensor_num = #{sensorNum,jdbcType=VARCHAR},
      </if>
      <if test="sensorType != null">
        sensor_type = #{sensorType,jdbcType=VARCHAR},
      </if>
      <if test="sensorModel != null">
        sensor_model = #{sensorModel,jdbcType=VARCHAR},
      </if>
      <if test="detectionTypeId != null">
        detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where sensor_id = #{sensorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.detection.web.model.SensorInfo">
    update sensor_info
    set project_id = #{projectId,jdbcType=INTEGER},
      detection_id = #{detectionId,jdbcType=INTEGER},
      sensor_longitude = #{sensorLongitude,jdbcType=VARCHAR},
      sensor_latitude = #{sensorLatitude,jdbcType=VARCHAR},
      sensor_num = #{sensorNum,jdbcType=VARCHAR},
      sensor_type = #{sensorType,jdbcType=VARCHAR},
      sensor_model = #{sensorModel,jdbcType=VARCHAR},
      detection_type_id = #{detectionTypeId,jdbcType=INTEGER}
    where sensor_id = #{sensorId,jdbcType=INTEGER}
  </update>
</mapper>