<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.detection.web.dao.ThresholdMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.detection.web.model.Threshold">
    <id column="threshold_id" jdbcType="INTEGER" property="thresholdId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_type_id" jdbcType="INTEGER" property="projectTypeId" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
    <result column="min_threshold_value" jdbcType="REAL" property="minThresholdValue" />
    <result column="max_threshold_value" jdbcType="REAL" property="maxThresholdValue" />
    <result column="heat_image_url" jdbcType="VARCHAR" property="heatImageUrl" />
    <result column="physical_image_url" jdbcType="VARCHAR" property="physicalImageUrl" />
    <result column="detection_type_name" jdbcType="VARCHAR" property="detectionTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    threshold_id, user_id, project_id, project_type_id, detection_type_id, min_threshold_value, 
    max_threshold_value, heat_image_url, physical_image_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from threshold
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select t.*,sd.item_name 'detection_type_name' 
    from threshold t, sys_dictionary sd 
    where t.detection_type_id=sd.dic_id  
    and t.project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectIdAndDetectionTypeId" resultMap="BaseResultMap">
     select
     <include refid="Base_Column_List" />
     FROM threshold 
     where project_id = #{0} 
     and detection_type_id = #{1} 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from threshold
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByProjectId" parameterType="java.lang.Integer">
    delete from threshold
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.detection.web.model.Threshold">
    insert into threshold (threshold_id, user_id, project_id, 
      project_type_id, detection_type_id, min_threshold_value, 
      max_threshold_value, heat_image_url, physical_image_url
      )
    values (#{thresholdId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{projectTypeId,jdbcType=INTEGER}, #{detectionTypeId,jdbcType=INTEGER}, #{minThresholdValue,jdbcType=REAL}, 
      #{maxThresholdValue,jdbcType=REAL}, #{heatImageUrl,jdbcType=VARCHAR}, #{physicalImageUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.detection.web.model.Threshold">
    insert into threshold
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thresholdId != null">
        threshold_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectTypeId != null">
        project_type_id,
      </if>
      <if test="detectionTypeId != null">
        detection_type_id,
      </if>
      <if test="minThresholdValue != null">
        min_threshold_value,
      </if>
      <if test="maxThresholdValue != null">
        max_threshold_value,
      </if>
      <if test="heatImageUrl != null">
        heat_image_url,
      </if>
      <if test="physicalImageUrl != null">
        physical_image_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thresholdId != null">
        #{thresholdId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null">
        #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="minThresholdValue != null">
        #{minThresholdValue,jdbcType=REAL},
      </if>
      <if test="maxThresholdValue != null">
        #{maxThresholdValue,jdbcType=REAL},
      </if>
      <if test="heatImageUrl != null">
        #{heatImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="physicalImageUrl != null">
        #{physicalImageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.detection.web.model.Threshold">
    update threshold
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null">
        project_type_id = #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="minThresholdValue != null">
        min_threshold_value = #{minThresholdValue,jdbcType=REAL},
      </if>
      <if test="maxThresholdValue != null">
        max_threshold_value = #{maxThresholdValue,jdbcType=REAL},
      </if>
      <if test="heatImageUrl != null">
        heat_image_url = #{heatImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="physicalImageUrl != null">
        physical_image_url = #{physicalImageUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.detection.web.model.Threshold">
    update threshold
    set user_id = #{userId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      project_type_id = #{projectTypeId,jdbcType=INTEGER},
      detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      min_threshold_value = #{minThresholdValue,jdbcType=REAL},
      max_threshold_value = #{maxThresholdValue,jdbcType=REAL},
      heat_image_url = #{heatImageUrl,jdbcType=VARCHAR},
      physical_image_url = #{physicalImageUrl,jdbcType=VARCHAR}
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </update>
</mapper>