<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.detection.web.dao.ThresholdMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.detection.web.model.Threshold">
    <id column="threshold_id" jdbcType="INTEGER" property="thresholdId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_type_id" jdbcType="INTEGER" property="projectTypeId" />
    <result column="detection_type_id" jdbcType="INTEGER" property="detectionTypeId" />
    <result column="threshold_type_id" jdbcType="INTEGER" property="thresholdTypeId" />
    <result column="min_threshold_value" jdbcType="DOUBLE" property="minThresholdValue" />
    <result column="max_threshold_value" jdbcType="DOUBLE" property="maxThresholdValue" />
    <result column="detection_type_name" jdbcType="VARCHAR" property="detectionTypeName" />
    <result column="thresHold_type_name" jdbcType="VARCHAR" property="thresHoldTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    threshold_id, user_id, project_id, project_type_id, detection_type_id, threshold_type_id, 
    min_threshold_value, max_threshold_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from threshold
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </select>
  <select id="selectThresholdByProjectIdDetectionTypeIdThresholdTypeId" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from threshold 
  	where project_id = #{0}
  	and detection_type_id = #{1} 
  	and threshold_type_id = #{2}
  </select>
  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select t.*,sd.item_name 'detection_type_name',sds.item_name 'thresHold_type_name' 
    from threshold t, sys_dictionary sd ,sys_dictionary sds
    where t.detection_type_id=sd.dic_id  
	and t.threshold_type_id=sds.dic_id
    and t.project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectByProjectIdAndDetectionTypeId" resultMap="BaseResultMap">
     select
     <include refid="Base_Column_List" />
     FROM threshold 
     where project_id = #{0} 
     and detection_type_id = #{1} 
  </select>
  <select id="selectThresholdByTwoId" resultMap="BaseResultMap">
  	SELECT
	*
	FROM
		threshold
	WHERE
	project_id = #{projectId,jdbcType=INTEGER}
	AND detection_type_id = #{detectionTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from threshold
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByProjectId" parameterType="java.lang.Integer">
    delete from threshold
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.detection.web.model.Threshold">
    insert into threshold (threshold_id, user_id, project_id, 
      project_type_id, detection_type_id, threshold_type_id, 
      min_threshold_value, max_threshold_value)
    values (#{thresholdId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{projectTypeId,jdbcType=INTEGER}, #{detectionTypeId,jdbcType=INTEGER}, #{thresholdTypeId,jdbcType=INTEGER}, 
      #{minThresholdValue,jdbcType=DOUBLE}, #{maxThresholdValue,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.detection.web.model.Threshold">
    insert into threshold
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thresholdId != null">
        threshold_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectTypeId != null">
        project_type_id,
      </if>
      <if test="detectionTypeId != null">
        detection_type_id,
      </if>
      <if test="thresholdTypeId != null">
        threshold_type_id,
      </if>
      <if test="minThresholdValue != null">
        min_threshold_value,
      </if>
      <if test="maxThresholdValue != null">
        max_threshold_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thresholdId != null">
        #{thresholdId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null">
        #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="thresholdTypeId != null">
        #{thresholdTypeId,jdbcType=INTEGER},
      </if>
      <if test="minThresholdValue != null">
        #{minThresholdValue,jdbcType=DOUBLE},
      </if>
      <if test="maxThresholdValue != null">
        #{maxThresholdValue,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.detection.web.model.Threshold">
    update threshold
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeId != null">
        project_type_id = #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="detectionTypeId != null">
        detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      </if>
      <if test="thresholdTypeId != null">
        threshold_type_id = #{thresholdTypeId,jdbcType=INTEGER},
      </if>
      <if test="minThresholdValue != null">
        min_threshold_value = #{minThresholdValue,jdbcType=DOUBLE},
      </if>
      <if test="maxThresholdValue != null">
        max_threshold_value = #{maxThresholdValue,jdbcType=DOUBLE},
      </if>
    </set>
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.detection.web.model.Threshold">
    update threshold
    set user_id = #{userId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      project_type_id = #{projectTypeId,jdbcType=INTEGER},
      detection_type_id = #{detectionTypeId,jdbcType=INTEGER},
      threshold_type_id = #{thresholdTypeId,jdbcType=INTEGER},
      min_threshold_value = #{minThresholdValue,jdbcType=DOUBLE},
      max_threshold_value = #{maxThresholdValue,jdbcType=DOUBLE}
    where threshold_id = #{thresholdId,jdbcType=INTEGER}
  </update>
</mapper>