<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongda.detection.web.dao.UserProjectMapper">
  <resultMap id="BaseResultMap" type="com.zhongda.detection.web.model.UserProject">
    <id column="user_project_id" jdbcType="INTEGER" property="userProjectId" />
    <result column="project_type_code" jdbcType="VARCHAR" property="projectTypeCode" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="projcet_id" jdbcType="INTEGER" property="projcetId" />
    <result column="project_type_value" jdbcType="VARCHAR" property="projectTypeValue" />
  </resultMap>
  <sql id="Base_Column_List">
    user_project_id, project_type_code, user_id, projcet_id, project_type_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_project
    where user_project_id = #{userProjectId,jdbcType=INTEGER}
  </select>
  <select id="selectAllProjectTypeByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_project
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_project
    where user_project_id = #{userProjectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhongda.detection.web.model.UserProject">
    insert into user_project (user_project_id, project_type_code, user_id,
      projcet_id, project_type_value)
    values (#{userProjectId,jdbcType=INTEGER}, #{projectTypeCode,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{projcetId,jdbcType=INTEGER}, #{projectTypeValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhongda.detection.web.model.UserProject">
    insert into user_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userProjectId != null">
        user_project_id,
      </if>
      <if test="projectTypeCode != null">
        project_type_code,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projcetId != null">
        projcet_id,
      </if>
      <if test="projectTypeValue != null">
        project_type_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userProjectId != null">
        #{userProjectId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeCode != null">
        #{projectTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="projcetId != null">
        #{projcetId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeValue != null">
        #{projectTypeValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhongda.detection.web.model.UserProject">
    update user_project
    <set>
      <if test="projectTypeCode != null">
        project_type_code = #{projectTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="projcetId != null">
        projcet_id = #{projcetId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeValue != null">
        project_type_value = #{projectTypeValue,jdbcType=VARCHAR},
      </if>
    </set>
    where user_project_id = #{userProjectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhongda.detection.web.model.UserProject">
    update user_project
    set project_type_code = #{projectTypeCode,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      projcet_id = #{projcetId,jdbcType=INTEGER},
      project_type_value = #{projectTypeValue,jdbcType=VARCHAR}
    where user_project_id = #{userProjectId,jdbcType=INTEGER}
  </update>
</mapper>